# Ignorar carpetas de otros módulos
modulos/Computacion/
modulos/Dibujo/
modulos/juego_de_palabras/

# Ignorar la carpeta assets general (solo si no la usas)
# Si solo quieres ignorar partes de assets:
assets/

# Ignorar archivos sueltos
*.ttf
**/__pycache__/